{% extends "layout.html.twig" %}
{% block content %}
    <script src="{{ asset('/js/shop.js') }}"></script>
    <h4>Товары</h4>
    <div class="row">
        <div class="col s8">
            {% if products|length > 0 %}
                <table class="highlight bordered">
                    <thead>
                    <tr>
                        <th>Производитель</th>
                        <th>Название запчасти</th>
                        <th>Цена</th>
                        <th>В продаже</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.manufacturer.name }}</td>
                            <td>{{ product.autopart.name }}</td>
                            <td>{{ product.cost }}</td>
                            <td class="center-cell">
                                <input type="hidden" value="{{ product.id }}" class="product-updater-id"/>
                                <input type="checkbox" id="is-present-{{ product.id }}" {% if product.isPresent %}checked="checked" {% endif %} class="product-updater" />
                                <label for="is-present-{{ product.id }}"></label>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>



            {% endif %}
        </div>
        <div class="col s4">
            <h5>Добавить товар</h5>
            {{ form_start(form) }}
            <div class="input-field">
                {{ form_widget(form.autopart, {'attr': {'class': 'validate'}}) }}
                {{ form_errors(form.autopart) }}
            </div>
            <div class="input-field">
                {{ form_widget(form.manufacturer, {'attr': {'class': 'validate'}}) }}
                {{ form_errors(form.manufacturer) }}
            </div>
            <div class="input-field">
                {{ form_label(form.cost) }}
                {{ form_widget(form.cost, {'attr': {'class': 'validate'}}) }}
                {{ form_errors(form.cost) }}
            </div>
            <button type="submit" class="waves-effect waves-light btn purple lighten-1" id="update-button">Добавить</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div id="notifier-modal" class="modal">
        <div class="modal-content">
            <h4>Подходящие запросы</h4>
            <p>
                {% if orders|length > 0 %}
            <table class="highlight bordered">
                <thead>
                <tr>
                    <th>Заявитель</th>
                    <th>Производитель</th>
                    <th>Название запчасти</th>
                    <th>Цена (от/до)</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.user.email }}</td>
                        <td>{{ order.manufacturer.name }}</td>
                        <td>{{ order.autopart.name }}</td>
                        <td>{{ order.minCost }}/{{ order.maxCost }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Закрыть</a>
        </div>
    </div>
{% endblock %}