<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper purple">
            <a href="{{ path('mainpage') }}" class="brand left"><i class="fa fa-linode" aria-hidden="true"></i></a>
            <ul class="right">
                {% if (app.user) %}
                    {% if is_granted('ROLE_SHOP') and orders|length>0 %}
                        <li>
                            <a href="#notifier-modal"><i class="fa fa-envelope" aria-hidden="true"></i> {{ orders|length }}</a>
                        </li>
                        {% endif %}
                        <ul id="user-dropdown" class="dropdown-content">
                            <li><a href="{{ path('profile_edit') }}">Профиль</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                               <li><a href="{{ path('admin') }}">Админка</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ path('logout') }}">Выход</a></li>
                        </ul>
                        <li><a class="dropdown-button" href="#!" data-activates="user-dropdown">{{ app.user.email }} <i class="fa fa-sort-desc" aria-hidden="true"></i></a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Вход</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>