{% extends "layout.html.twig" %}
{% block content %}
    <script src="{{ asset('/js/script.js') }}"></script>
    <h4>Заявки</h4>
    <div class="row">
        <div class="col s8">
            {% if orders|length > 0 %}
                <table class="highlight bordered">
                    <thead>
                    <tr>
                        <th>Производитель</th>
                        <th>Название запчасти</th>
                        <th>Цена (от/до)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.manufacturer.name }}</td>
                            <td>{{ order.autopart.name }}</td>
                            <td>{{ order.minCost }}/{{ order.maxCost }}</td>
                            <td class="center-cell">
                                <input type="hidden" value="{{ order.id }}" class="order-updater-id"/>

                                <a href="#" class="order-updater" {% if not order.isActive %}style="display: none;"{% endif %}>Закрыть заявку</a>
                                    <span class="order-closed" {% if order.isActive %}style="display: none;"{% endif %}>
                                        Заявка закрыта
                                    </span>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col s4">
            <h5>Создать заявку</h5>
            {{ form_start(form) }}
            <div class="input-field">
                {{ form_widget(form.autopart, {'attr': {'class': 'validate'}}) }}
                {{ form_errors(form.autopart) }}
            </div>
            <div class="input-field">
                {{ form_widget(form.manufacturer, {'attr': {'class': 'validate'}}) }}
                {{ form_errors(form.manufacturer) }}
            </div>
            <div class="input-field">
                {{ form_label(form.minCost) }}
                {{ form_widget(form.minCost, {'attr': {'class': 'validate'}}) }}
                {{ form_errors(form.minCost) }}
            </div>
            <div class="input-field">
                {{ form_label(form.maxCost) }}
                {{ form_widget(form.maxCost, {'attr': {'class': 'validate'}}) }}
                {{ form_errors(form.maxCost) }}
            </div>
            <button type="submit" class="waves-effect waves-light btn purple lighten-1" id="update-button">Добавить</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}