{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
{% include "header.html.twig" %}
    <main>
        <div class="container main-container">
    {% block content %}{% endblock %}
            </div>
    </main>
    {% include "footer.html.twig" %}
{% endblock %}