{% extends "layout.html.twig" %}
{% block content %}
    <script src="{{ asset('/js/test.js') }}"></script>
        <h4>AJAX логин</h4>
            <form action="{{ path('login') }}" method="post">
                <div class="input-field col s6">
                    <input id="email" type="text" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" type="password" name="password" class="validate">
                    <label for="password">Пароль</label>
                </div>
                <a href="#" id="login-button" class="waves-effect waves-light btn purple">Вход</a>
            </form>
{% endblock %}