<div class="navbar-fixed admin-menu">
    <nav>
        <div class="nav-wrapper purple darken-4">
            <ul class="left">
                <li><a href="{{ path('autoparts') }}">Запчасти</a></li>
                <li><a href="{{ path('manufacturers') }}">Производители</a></li>
            </ul>
        </div>
    </nav>
</div>