{% extends "admin/index.html.twig" %}
{% block content %}
    {{ parent() }}
    <h4>Запчасти</h4>
    <div class="row">
        <div class="col s6">
            {% if autoparts|length > 0 %}
                <ul>
            {% for autopart in autoparts %}
                <li>
                    <input class="autopart-id" type="hidden" value="{{ autopart.id }}" />
                    <a href="{{ path('autopart_delete', {'id': autopart.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <i class="fa fa-pencil autopart-editor" aria-hidden="true"></i>
                    <span class="autopart-name">{{ autopart.name }}</span>
                </li>
                {% endfor %}
                    </ul>
                {% endif %}
        </div>
        <div class="col s6">
            <h5 id="update-title">Добавить запчасть </h5>
            {{ form_start(form) }}
            <input type="hidden" id="updated-item-id" name="updated-item-id">
            <div class="input-field shop-field">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'validate'}}) }}
                {{ form_errors(form.name) }}
            </div>
            <button type="submit" class="waves-effect waves-light btn purple lighten-1" id="update-button">Добавить</button> <a class="waves-effect waves-light btn purple darken-2" id="update-reset-button">Отменить</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}