body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.nav-wrapper{
    padding-left: 20px;
}
.main-container{
    padding-top: 64px;
}
.brand{
    font-size: 2.1rem;
}
.admin-menu{
    position: fixed!important;
    left: 0px;
    margin-top: -64px;
    z-index: 0!important;
}
.fa-trash{
    color:red;
    cursor: pointer;
}
.fa-trash:hover{
    color:lightcoral;
}
.fa-pencil{
    color:blue;
    cursor: pointer;
}
.fa-pencil:hover{
    color:lightskyblue;
}
.center-cell{
    text-align: center;
}
.order-closed{
    color: grey;
}