{% extends "layout.html.twig" %}
{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="input-field col s6">
            <input id="email" type="text" class="validate" name="email" value="{{ last_username }}">
            <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Пароль</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn purple">Вход</button>
    </form>
        <br/>
    <a href="{{ path('registration') }}" class="waves-effect waves-light btn purple lighten-2">Регистрация</a>

{% endblock %}