{% extends "layout.html.twig" %}
{% block content %}
    {{ form_start(form) }}
    <div>
        {{ form_widget(form.isShop) }}
        {{ form_label(form.isShop) }}
        {{ form_errors(form.isShop) }}
    </div>

    <div class="input-field shop-field">
        {{ form_label(form.shopName) }}
        {{ form_widget(form.shopName, {'attr': {'class': 'validate'}}) }}
        {{ form_errors(form.shopName) }}
    </div>

    <div class="input-field person-field">
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName, {'attr': {'class': 'validate'}}) }}
        {{ form_errors(form.lastName) }}
    </div>
    <div class="input-field person-field">
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName, {'attr': {'class': 'validate'}}) }}
        {{ form_errors(form.firstName) }}
    </div>
    <div class="input-field person-field">
        {{ form_label(form.middleName) }}
        {{ form_widget(form.middleName, {'attr': {'class': 'validate'}}) }}
        {{ form_errors(form.middleName) }}
    </div>

    <div class="input-field">
        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email, {'attr': {'class': 'validate'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="input-field">
        {{ form_label(form.password.first, 'Пароль') }}
        {{ form_widget(form.password.first, {'attr': {'class': 'validate'}}) }}
        {{ form_errors(form.password.first) }}
    </div>
    <div class="input-field">
        {{ form_label(form.password.second, 'Повтор пароля') }}
        {{ form_widget(form.password.second, {'attr': {'class': 'validate'}}) }}
        {{ form_errors(form.password.second) }}
    </div>

    <button type="submit" class="waves-effect waves-light btn purple lighten-1">Зарегистрироваться</button>
    {{ form_end(form) }}
    <script src="{{ asset('/js/form.js') }}"></script>
{% endblock %}